@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  margin-top: 2rem;
  padding: 0;
}

.date-range {
  column-gap: 1.5rem;
}

.song-list {
  column-gap: 1.5rem;
  margin-top: 1rem;
}